/* -------------------------------------------- */
/* FEATURED IN SECTION */
/* -------------------------------------------- */

.heading_featured_in {
  font: size 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  margin-top: 4.8rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3rem;
  /* width: 2.4rem; */
  transition: filter ease-in 0.3s;
  filter: grayscale(100%);
}

.logos img:hover {
  filter: grayscale(0%);
}

/* ********************************* */
/* BELOW 544px ( Mobile Phones ) */
/* --------------------------------- */

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .logos img {
    height: 1.2rem;
  }
}
