.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tint);
    padding: 0 4.8rem;
    height: 9.6rem;
    position: relative;
}

.logo {
  height: 2.2rem;
}

.main_nav_list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main_nav_link:link,
.main_nav_link:visited{
    color: #333;
    font-weight: 500;
    font-size:1.8rem;
    transition: all 0.3s;
    display: inline-block;
    text-decoration: none;
}

.main_nav_link:hover,
.main_nav_link:active {
    color: var(--shade);
}

/* CALL TO ACTION BUTTON IN THE NAVBAR */

.main_nav_link.nav_cta:link,
.main_nav_link.nav_cta:visited {
  padding: 1.2rem 2.4rem;
  color: #fff;
  border-radius: 9px;
  background-color: #e67e22;
  /* box-shadow: inset 0 0 0 3px #fff; */
}

.main_nav_link.nav_cta:hover,
.main_nav_link.nav_cta:active {
  background-color: var(--shade);
}

.btn_mobile_nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.96);
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 99;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

  /*  */
  /*  */
  @media (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  .header {
    padding: 0 3.2rem;
  }

  .main_nav_list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/* ---------------------------- */
/* BELOW 944px ( Tablets )*/
/* ---------------------------- */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  /* MOBILE */

.icon_mobile_nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}

  /* MOBILE NAVIGATION */
  
  .btn_mobile_nav {
    display: block;
    z-index: 999; /* To ensure the close button focused state always stays on top */
  }

  .main_nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    /* overflow-x: hidden; */
    transition: all ease-in 0.8s;

    /* Hide the Navigation*/

    /* display: none; -- This allows no Navigation at all */

    /* Hide the Element visually */
    opacity: 0;

    /* Make it in accessible to Mouse and Keyboards */
    pointer-events: none;

    /* Hide it from screen readers*/
    visibility: hidden;
  }

  .main_nav_link:link{
    font-size: 3rem;
  }

  .open {
    opacity: 1;
    visibility: visible;
    pointer-events: Auto;
    transform: translateX(0);
    /* transform: translateX(100%); */
  }

  .close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%)
  }

   .icon_mobile_nav_open {
    display: block;
  }

  .icon_mobile_nav {
    display: none;
    /* visibility: none; */
  }

  .main_nav_list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main_nav_list:link,
  .main_nav_list:visited {
    font-size: 3.2rem;
  }
}